body {
     font-family: sans-serif;
    color: #ffffff;
    background: rgb(36, 36, 53);
    background: linear-gradient(90deg, rgba(36, 36, 53, 1) 0%, rgba(55, 55, 70, 1) 35%, rgba(55, 55, 70, 1) 100%);
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

ul{
    list-style: none;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.aside{
    width: 200px;
    background-color: rgba(55, 55, 70, 1);
}

.logo{
    height: 60px;
}

.aside__title{
    background-color: rgba(36, 36, 53, 1);
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
}

.aside__item{
    cursor: pointer;
}


.aside__item-inner{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: relative;
}

.aside__item-inner::before{
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("./img/iconmonstr-arrow-25.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
}

.aside__item-list{
    background-color: rgba(36, 36, 53, 1);
}

.aside__item-list>li{
    padding: 10px;
    margin-left: 50px;
}

.aside__item-inner>svg{
    fill: #cccccc;
}

.main{
    width: calc(100vw - 200px);
}

.main__wrapper{
    display: flex;
    height: 100%;
}

.background{
    width: 100%;
    background-image: url("./img/background.png");
    background-position: top;
}

.main__header{
    height: 60px;
    background-color: rgba(36, 36, 53, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 25px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 50px;
}

.main__header-input{
    background-color: transparent;
    border: 1px solid #eeeeee;
    padding: 8px 15px 8px 25px;
    height: 20px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #eeeeee;
}

.main__header-input::placeholder{
    font-size: 13px;
    line-height: 15px;
    color: #eeeeee;
}

.main__header-inner{
    position: relative;
}

.main__header-inner:before{
    content: "";
    background-image: url("./img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 5px;
    z-index: 2;
    fill: #cccccc;
    stroke: #cccccc;
}

.main__header-icon:hover>svg{
 fill: #cccccc;
}

.main__inner{
    width: 40%;
    background-color: rgba(55, 55, 70, 1);
    padding: 99px 20px;
}

.main__title{
    font-size: 50px;
    margin-bottom: 30px;
}

.main__title>span{
    color: #3069cf;
}

.main__subtitle{
    width: 400px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
}

.main__btn{
    padding: 10px 40px;
    background-color: #3069cf;
    color: #ffffff;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.main__btn:hover{
    background-color: #6288cd;
}
